.services {
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    border-radius: 12px;
    padding: 0 4rem;
    height: 100%;
  }
  &-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #d5d5d5;
    color: #e5e5e5;
    svg {
      width: 20px;
      height: 20px;
      opacity: 0.8;
      margin-right: 12px;
    }
    h1 {
      font-size: 20px;
      opacity: 0.8;
      font-weight: 900;
    }
  }
  &-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    min-height: fit-content;
    padding: 0.5rem;
    border-radius: 12px;
    &-title {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      span {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
      }
    }
    &-text {
      width: 100%;
      height: fit-content;
      padding: 0.8rem;
      text-align: left;
      border-radius: 8px;
      background: hsl(208, 7%, 55%);
      background: linear-gradient(90deg, #404041 0%, rgb(68, 74, 75) 100%);
    }
  }
}

@media (max-width: 800px) {
  .services-main {
    width: 100%;
  }
}


