.projects {
  &-main {
    position: relative;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  &-gradient {
    --size: 40em;
    --speed: 0.2s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  &-title {
    background: rgba(146, 146, 146, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
    svg {
      margin-left: 1rem;
      margin-right: 16px;
      width: 35px;
      height: 35px;
    }
    h1 {
      font-size: 3em;
      line-height: 1.1;
    }
  }
  &-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    &-menu {
      height: fit-content;
      background-color: #2b2b2b;
      border-radius: 12px;
      padding: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      white-space: nowrap;
      gap: 8px;
      &-tabs {
        text-align: left;
        width: 100%;
        font-weight: 700;
        padding: 1rem;
        background-color: #3d3d3d;
        border-radius: 12px;
        cursor: pointer;
        &-active {
          background: rgb(5, 193, 193);
          background: linear-gradient(
            280deg,
            rgb(0, 128, 128) 0%,
            rgb(5, 193, 193) 100%
          );
        }
      }
    }
    &-content {
      width: 100%;
      &-card {
        position: relative;
        width: 100%;
        height: max-content;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: left;
          border-radius: 12px;
        }
      }
      &-text {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 20em;
        border-radius: 8px;
        padding: 0.8rem;
        position: absolute;
        bottom: 2%;
        left: 1%;
        height: fit-content;
        background-color: rgba(61, 61, 61, 0.9);
        h1 {
          font-size: 28px;
        }
        p {
          margin-bottom: 1.2rem;
        }
        button {
          width: 10rem;
        }
      }
    }
  }
}
