.projects {
  &-main {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(31, 31, 31, 0.8);
    border-radius: 3px;
  }
  &-container {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
  &-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    h1 {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-weight: 200;
      font-size: 3.5rem;
      svg {
        width: 45px;
        height: 45px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 600;
      color: #a2a2a2;
    }
  }
  &-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    padding: 12px;
  }
  &-card {
    width: 49%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    &:hover > &-text {
      transition: all 1.2s ease-in-out;
      color: white;
    }
    &-img {
      position: relative;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
      &:hover {
        svg {
          display: block;
          cursor: pointer;
        }
        &::after {
          animation: leftFade 0.4s ease-in-out;
          display: block;
        }
      }

      svg {
        display: none;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 4px;
        right: 5px;
        bottom: 10px;
        background-color: #2b2b2b;
        border: 2px solid #008080;
        z-index: 200;
      }
      &::after {
        display: none;
        content: "";
        position: absolute;
        border-radius: 7px;
        left: 0;
        top: 0;
        width: 100%;
        height: 99%;
        background: rgba(47, 47, 47, 0.9);
        z-index: 100;
      }
    }
    &-text {
      color: transparent;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      z-index: 250;
      pointer-events: none;
      cursor: default;
      h1 {
        font-weight: 900;
      }
      p {
        font-weight: 600;
      }
    }
  }
}

@keyframes leftFade {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 820px) {
  .projects-display {
    padding: 0;
    gap: 1rem;
  }
  .projects-container {
    width: 100%;
    padding: 8px;
  }
  .projects-text h1 {
    align-items: center;
    justify-content: center;
    svg {
      border: 1px solid #008080;
      border-radius: 15px;
      padding: 8px;
    }
  }
  .projects-card {
    width: 100%;
  }
  .projects-card-img {
    width: 100%;
    img {
      width: 100%;
    }
    svg {
      display: block;
      right: 20%;
      width: 40px;
      height: 40px;
    }
    &:hover::after {
      animation: none;
    }
    &::after {
      display: block;
      width: 50%;
      height: 80%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .projects-card-text {
    color: #f1f1f1;
    align-items: center;
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.5rem;
      width: 50%;
    }
  }
}
