.social {
  &-main {
    display: flex;
    place-content: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }
  &-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width: clamp(250px, 550px, 550px);
    padding: 18px;
    background: rgb(43, 43, 43);
    background: linear-gradient(
      90deg,
      rgba(43, 43, 43, 1) 0%,
      rgba(38, 38, 38, 1) 100%
    );
    border-radius: 25px;
  }
  &-text {
    padding: 1rem;
    text-align: start;
    padding: 10px;
    p {
      line-break: auto;
    }
  }
  &-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 50%;
  }
  &-item {
    display: flex;
    align-items: center;
    background-color: #343436;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid transparent;
    svg {
      width: 40px;
      height: 40px;
    }
    &:hover {
      border-color: #008080;
      cursor: pointer;
    }
  }
}
