.nav {
  &-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 1rem;
  }
  &-logo {
    display: flex;
    position: relative;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    h1 {
      font-size: 3em;
      line-height: 1.1;
    }
    span {
      position: absolute;
      bottom: -1rem;
      left: 6.5rem;
    }
  }
  &-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    justify-self: flex-end;
    padding: 12px 1rem;
    width: 15em;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      svg {
        width: 25px;
        height: 25px;
      }
      &::after {
        transition: all ease-out 0.5s;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: -10;
        border: 1px solid transparent;
      }
      &:hover {
        cursor: pointer;
        &::after {
          background-color: #202020;
          border-color: #008080;
        }
      }
    }
  }
}
@media (max-width: 920px) {
  .nav-main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
